<h2>Characters detail</h2>

<div class="content">
  <div>
    <img src="{{characterSingle?.image}}" width="400px" alt="">
  </div>

  <div>
    <p>Name: <b>{{characterSingle?.name}}</b></p>
    <p>Status: <b>{{characterSingle?.status}}</b></p>
    <p>Species: <b>{{characterSingle?.species}}</b></p>
    <p>Gender: <b>{{characterSingle?.gender}}</b></p>
    <p>Origin name: <b>{{characterSingle?.origin?.name}}</b></p>
    <p>Location name: <b>{{characterSingle?.location?.name}}</b></p>
  </div>
</div>
